<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kopagas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/redlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LipaNaMpesa"></activity>
        <activity android:name=".Vendor_Stats" />
        <activity android:name=".Available_Orders" />
        <activity android:name=".LandingPage" />
        <activity android:name=".ViewVendors" />
        <activity android:name=".VendorDash" />
        <activity android:name=".ViewBrands" />
        <activity android:name=".SignUp" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MyShoppingCart" />
        <activity android:name=".Signin" />
        <activity android:name=".ProductSummary" />
        <activity android:name=".OrderDetail" />
        <activity android:name=".GasDetail" />
        <activity android:name=".MyStock" />
        <activity android:name=".VendorLogin" />
        <activity android:name=".VendorRegister" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity
            android:name=".LogonActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BrandEditor" />
        <activity android:name=".BrandDetail" />
        <activity android:name=".VendorEditor" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".EditorActivity" />
        <activity android:name=".Brands" />
        <activity android:name=".Sellers" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".kopadata.OkoaProvider"
            android:authorities="com.example.android.kopagas.kopadata.OkoaProvider"
            android:enabled="true"
            android:exported="false"
            tools:ignore="MissingClass" />
    </application>

</manifest>